<h1>Vendedores</h1>
<%= form_with url: root_path, method: :get do |formulario| %>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="row g-3 align-items-center">
          <div class="col-3">
            <%= formulario.label :buscar_vendedor,"Consulta de Vendedores:", class: "col-form-label" %>
          </div>
          <div class="col-9">
            <%= formulario.text_field "buscar_vendedor", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-3">
        <%= formulario.submit "Realizar Buscar", type: "submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Numero de empleado</th>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Oficina</th>
        <th>Manager</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <% @vendedores.each do |vendedor| %>
        <tr>
          <td> <%= vendedor.id %> </td>
          <td> <%= vendedor.nombre %> </td>
          <td> <%= vendedor.mail %> </td>
          <td> <%= vendedor.oficina %> </td>
          <td> <%= vendedor.manager %> </td>
          <td><%= link_to "Ver", "#", class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
