<h1>Vendedores</h1>
<%= form_with url: root_path, method: :get do |formulario| %>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row g-3 align-items-center">
        <div class="col-3">
          <label for="buscador_vendedor" class="col-form-label">Buscar: </label>
        </div>
        <div class="col-9">
          <input type="text" id="buscador_vendedor" name="buscar_vendedor" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-3">
       <%= button_tag "Realizar Buscar", type: "submit", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Numero de empleado</th>
        <th>Nombre</th>
        <th>Mail</th>
        <th>Oficina</th>
        <th>Manager</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <% @vendedores.each do |vendedor| %>
        <tr>
          <td> <%= vendedor.id %> </td>
          <td> <%= vendedor.nombre %> </td>
          <td> <%= vendedor.mail %> </td>
          <td> <%= vendedor.oficina %> </td>
          <td> <%= vendedor.manager %> </td>
          <td><%= link_to "Ver", "#", class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
