<h1>Vendedores</h1>

<div class="container">
    <div class="row">
        <div class="col-9">    <label for="inputPassword6" class="col-form-label">Buscar: </label></div>
        <div class="col-3"><button type="button" class="btn btn-primary">CONSULTAR</button></div>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-primary">
        <thead>
             <tr>
                <th>Numero de empleado</th>
                <th>Nombre</th>
                <th>Mail</th>
                <th>Oficina</th>
                <th>Manager</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        <% @vendedores.each do |vendedor| %>
        <tr>
        <td> <%= vendedor.id %> </td>
        <td> <%= vendedor.nombre %> </td>
        <td> <%= vendedor.mail %> </td>
        <td> <%= vendedor.oficina %> </td>
        <td> <%= vendedor.manager %> </td>
        <td><%= link_to "#", libro %></td>
        <td><%= link_to "#", edit_vendedor_path(libro) %></td>
        <td><%= button_to "#", libro, method: :delete %></td>
        </tr>
    <% end %>
        </tbody>
</div>
